.title {
    font-family: "Comic Sans MS", serif;
    color: darkgreen;
    padding-top: 8%;
    padding-bottom: 8%;
    font-size: 4.5em;
    text-shadow: 0 0 10px black, 0 1px 0 rgba(0,0,0, .25);
}

