.invisible-container{
    width: 35%;
}

.mini-form-container{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #EBDE9A;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
