.chat-input {
    display: flex;
    justify-content: space-between;
}

.chat-header {
    padding: 4px;
    background-color: rgb(53 151 234);
    color: white;
}

.chat-header h3 {
    margin: 4px;
}

.chat-list {
    padding: 4px;
    height: 350px;
    overflow: scroll;
}

.chat-input {
    margin: 4px 0 4px 4px;
}

.chat-input textarea {
    border-radius: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    width: 100%;
    padding: 6px;
    box-sizing: content-box;
}

.chat-input button {
    border-radius: 20px;
    margin-left: 10px;
    background-color: #77d2ed;
    border-width: thin;
}

.chatcard {
    background-color: dodgerblue;
    padding: 8px;
    border-radius: 30px;
    margin: 4px;
    color: white;
}

.chatcard-mine {
    border-bottom-right-radius: 0;
}

.chatcard-friend {
    border-bottom-left-radius: 0;
    background-color: forestgreen;
}

.chatcard-msg {
    padding: 4px;
    text-align: left;
}

.chatcard-time {
    text-align: right;
    font-size: 12px;
    margin-right: 10px;
}

.chat-input input[type="submit"] {
    cursor: pointer;
    color: #fff;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #53aec8;
    border: thin white;
}

.chat-input input[type="submit"]:hover {
    background: #5192a5;
}